
@import "../../../bower_components/bootstrap/less/bootstrap.less";
/** Define all bootstrap overrides in the follwowing files. Do not touch bootstrap source. **/
@import "custom-variables.less";

html, body {
	height: 100%;
}

.canvas-wrapper {
	padding-top: 65px;
	canvas {
		box-shadow: 0px 0px 3px #222;	
	}
}

.main {
	text-align: justify;
}

.art-selector {
	box-shadow: @gray 2px 2px 2px;
	list-style: none;
	display: inline-block;
	padding: 5px;

	li {

		margin-bottom: 5px;
		margin-left: 5px;
		padding: 5px;
		a {
			font-size: 1.75em;
			text-shadow: @gray 2px 2px;
			color: @white;
		}

		a:hover {
			text-decoration: none;
			text-shadow: red 2px 2px;
		}

		a:visited, a:focus, a:active {
			text-decoration: none;
		}

		background: @green-white;
		/*box-shadow: 0px 0px 3px #222;	*/
	}
}

/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
   Set the fixed height of the footer here 
  height: 300px;
}*/